<<<<<<< HEAD

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #cac402;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Main Content */
main {
    text-align: center;
    padding: 50px;
}

.btn {
    display: inline-block;
    background-color: #FFCC00;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
=======

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #cac402;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Main Content */
main {
    text-align: center;
    padding: 50px;
}

.btn {
    display: inline-block;
    background-color: #FFCC00;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
>>>>>>> 8a8f2d4 (Fix line endings)
