/* Full screen overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Keep it on top */
}

/* Modal (content area inside the overlay) */
.modal {
    background-color: white;
    padding: 30px;
    width: 60%;
    max-width: 600px;
    max-height: 80vh; /* înălțime max */
    overflow-y: auto; /* scroll intern */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    position: relative;
}

/* Header */
header h1 {
    font-size: 2em;
    color: #333;
}

header p {
    font-size: 1.1em;
    color: #555;
}

header a {
    color: #4CAF50;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    margin: 20px 0;
}

section h2 {
    font-size: 2em;
    color: #333;
}

/* Butoane */
.reject-btn,
.confirm-btn {
    background-color: #6900d1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.reject-btn:hover,
.confirm-btn:hover {
    background-color: #5300a8;
}

/* Scroll personalizat pentru .modal */
.modal::-webkit-scrollbar {
    width: 12px;
}

.modal::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 12px;
    border: 3px solid #f0f0f0;
}

